body {
  background-color: #E4E6E8;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;

}

// Navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light{
  .navbar-nav{
    .nav-link{
      color: #071C4D;

      &.active{
        font-weight: bold;
        color: #071C4D !important;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login-desktop {
  background-color: #071C4D !important;
  color: #fff !important;
  border: none !important;

  &:hover {
    background-color: #1e3771 !important;
    color: #fff;
    border: none !important;
  }
}

.btn-login-mobile{
    background-color: #071C4D !important;
    color: #fff !important;
    border: none !important;
  &:hover {
        background-color: #1e3771 !important;
        color: #fff !important;
        border: none !important;
  }
}

// Header
header {
  padding: 180px 0 165px;
  background-image: url('../images/header-background@2x.jpg');
  background-size: cover;
  margin-top: -70px;

  h1, p {
    color: #fff;
  }

  h1 {
    font-family: 'playfair display', serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started{
    background-color: #ff9e53 !important;
    color: #fff !important;

    &:hover {
      background-color: #ffaa69 !important;
      color: #fff !important;
    }
  }
}

// Section statistics


// Section destination list
//.section-popular{
//  //min-height: 540px;
//  background-color: #051334;
//  //margin-top: -65px;
//  //margin-bottom: -230px;
//
//  .section-popular-heading{
//    margin-top: 30px;
//  }
//
//  h2, p{
//    color: #fff;
//  }
//
//  h2{
//    font-family: "Playfair Display", serif;
//    font-weight: bold;
//    font-size: 35px;
//  }
//  p{
//    font-size: 18px;
//  }
//}

// Stats
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background: #fff;
    padding-left: 40px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;

  }

  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

// Popular
.section-popular {
  min-height: 540px;
  background: #051334;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      color: #fff;
    }

    h2 {
      font-family: 'Playfair Display', serif;
      font-weight: bold;
    }
  }
}

.section-popular-content {
  .section-popular-travel {

    .card-travel {
      min-height: 380px;
      background: #fff;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;

      .travel-country {
        font-size: 18px;
        color: #fff;
      }

      .travel-location {
        font-size: 26px;
        color: #fff;
      }

      .travel-button {
        .btn-travel-details {
          background-color: #FF9E53;
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}